.holiday {
  display: flex;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto 50px;
  background: #ffffff;
  gap: 70px
}
.holiday__title {
  font-size: 48px;
  font-weight: 500;
  color: #2C2D35;
}
.holiday__text {
  font-size: 18px;
  font-weight: 500;
  color: #86928B;
  margin-bottom: 30px
}
.holiday__link {
  text-decoration: none;
  color: #598D66;
  display: block;
  border: 1px solid #598D66;
  width: 264px;
  height: 65px;
  text-align: center;
  padding-top: 20px;
}
.holiday__subtitle {
  color: #598D66;
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 30px;
}
.holiday__img {
  display: block;
}
.holiday__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}