/* стили для блока "Наша команда" */
.team {
  display: flex;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto 40px;
  background: #ffffff;
  gap: 70px;
  align-items: center;
}
.team__title {
  font-size: 40px;
  font-weight: 500;
  color: #2C2D35;
  margin-bottom: 20px;
}
.team__text {
  font-size: 18px;
  font-weight: 500;
  color: #2C2D35;
  margin-bottom: 30px
}
.team__subtitle {
  color: #598D66;
  font-size: 48px;
  font-weight: 500;
}
.team__img {
  display: block;
}
.team__list {
  list-style: none;
  display: flex;
  gap: 25px;
}
.team__wrap {
  padding-top: 70px;
}
